<section class="container">
  <header class="header d-flex">
    <div class="search-thoughts">
      <input
        type="text"
        class="filter"
        type="search"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filter"
        (keyup)="searchThoughts()"
      >
      <img src="./assets/img/lupa.png" alt="Lupa azul">
    </div>
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/createThought" class="button">Adicionar Pensamento</button>
  </header>
  <div class="mural" *ngIf="listThoughts.length > 0, else noThoughts">
    <div *ngFor="let thought of listThoughts">
      <app-thought [thought]="thought"></app-thought>
    </div>
  </div>
</section>
<app-button-more-load
  [thereAreMoreThoughts]="thereAreMoreThoughts"
  (click)="loadingMoreThoughts()"
>

</app-button-more-load>
<ng-template #noThoughts>
  <div class="ff-inter no-thoughts text-center">
    <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>
