<section class="container create-thought ff-inter">
  <header class="header">
  <h2>Adicione um <br>pensamento novo:</h2>
  </header>
  <form [formGroup]="form">
    <label for="thought">Pensamento</label>
    <input
    type="textarea"
    class="input"
    id="thought"
    formControlName="content"
    placeholder="Digite um pensamento"
    >
    <div class="error__msg" *ngIf="form.get('content')?.errors && form.get('content')?.touched">
      Pensamento é obrigatório!
    </div>
    <label for="authorship">Autoria ou Fonte</label>
    <input
      type="textarea"
      class="input"
      id="authorship"
      formControlName="authorship"
      placeholder="Digite a autoria ou fonte"
    >
    <div class="error__msg" *ngIf="form.get('authorship')?.errors?.['required'] && form.get('authorship')?.touched">
      Autoria é obrigatória!
    </div>
    <div class="error__msg" *ngIf="form.get('authorship')?.errors?.['minlength'] && form.get('authorship')?.touched">
      Autoria precisa ter no mínimo três caracteres!
    </div>

    <label for="model1">Selecione o modelo do card</label>
    <div class="container-radio">
      <div class="radio-model">
        <label for="model1">
          <input
            type="radio"
            id="model1"
            value="modelo1"
            formControlName="model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
            <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="model model1 ff-roboto-mono">
          <img src="../../../../assets/img/modelo1.png" alt="Aspas azuis">
          <p class="content">{{ form.get('content')?.value }}</p>
          <p class="authorship"><b>{{ form.get('authorship')?.value }}</b></p>
        </div>
      </div>

      <div class="radio-model">
        <label for="model2">
          <input
            type="radio"
            id="model2"
            value="modelo2"
            formControlName="model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="model model2 ff-roboto-mono">
          <img src="../../../../assets/img/modelo2.png" alt="Aspas azul claro">
          <p class="content">{{ form.get('content')?.value }}</p>
          <p class="authorship"><b>{{ form.get('authorship')?.value }}</b></p>
        </div>
      </div>

      <div class="radio-model">
        <label for="model3">
          <input
            type="radio"
            id="model3"
            value="modelo3"
            formControlName="model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="model model3 ff-roboto-mono">
          <img src="../../../../assets/img/modelo3.png" alt="Aspas verdes">
          <p class="content">{{ form.get('content')?.value }}</p>
          <p class="authorship"><b>{{ form.get('authorship')?.value }}</b></p>
        </div>
      </div>

    </div>
    <div class="actions">
      <button (click)="createThought()" class="button">Salvar</button>
      <button (click)="cancelThought()" class="button">Cancelar</button>
    </div>
  </form>
</section>

